<%- include("../partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
			Welcome to Reservation Portal.
			</h1>
			<p>
				You can create your own portal here.
			</p>
			<p>
					<a class="btn btn-primary btn-lg" href = "/campgrounds/new">Add new reservation portal</a>
			</p>
		</div>
	</header>
	
	<div class= "row text-center"style="display:flex; flex-wrap:wrap;">
	<% campgrounds.forEach((campground) => { %>
		<div class="col-md-3 col-lg-3 col-sm-6">
			<div class="thumbnails">
				<img  src = "<%= campground.image %>" style="padding:8px;">
				<div class="caption">
					<h4>
					 <%= campground.name %> 
					 </h4>
				</div>
				<p>
					<a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">Show more</a>
				</p>
			 </div>
		</div>
	<% }) %>
	</div>
</div>
<%- include("../partials/footer") %>